pre-commit
ruff
pandas
scikit-learn
textacy
fastavro
torch
transformers
spacy>=3.7.0,<3.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl